image:
  - Visual Studio 2019

environment:
  PATH: C:\msys64\usr\bin
  CONFIGURE_HOST: x86_64-pc-linux
  CONFIGURE_OPTS: --disable-static

install:
  - cmd: pacman -S --noconfirm autoconf automake libtool parallel libiconv-devel
  - cmd: pacman -S --noconfirm libedit-devel pcre2-devel openssl-devel zlib-devel

build:
  parallel: true

build_script:
  - cmd: bash -e ./ci/build.sh

on_success:
  - python3 ci/appveyor_irc-notify.py mcfproj "* lh_mouse {repo_name}#{short_commit} passed on {branch} ({build_url})"

on_failure:
  - python3 ci/appveyor_irc-notify.py mcfproj "* lh_mouse {repo_name}#{short_commit} errored on {branch} ({build_url})"
