.*
*.lo
*.o
*.so
*.la
*.a
*.trs
*.test
*.log
*.gch
*.exe
*.dll

.dirstamp
.libs
.deps
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
m4/
missing
stamp-h1
test-driver

*.tar
*.tar.*
*.deb
description-pak
callgrind.*

lib/
bin/
sbin/
tmp/
var/

*.save*
*.swp
*.*~
*.orig
*.rej
*.out
