*~
.*
*.lo
*.o
*.so
*.la
*.a
*.trs
*.test
*.log
*.gch
*.exe
*.dll

/aclocal.m4
/autom4te.cache/
/build-aux/
/m4/
/configure
/Makefile
/Makefile.in
/config.h
/config.h.in
/config.status
/libtool
/stamp-h1
/src/version.h
/src/precompiled.x*

/lib/
/bin/
/sbin/
/tmp/
/var/

*.save*
*.swp
*.*~
*.orig
*.rej
*.out
*.tar
*.tar.*
*.deb
*.stackdump
core.*
callgrind.*
