language: cpp

os: linux
dist: xenial
sudo: required

compiler:
  - gcc
  - clang

install:
  - bash ci/build.sh

notifications:
  email: false
  irc:
    channels:
      - "ircs://chat.freenode.net:6697/#mcfproj"
    template:
      - "[ lh_mouse %{repository_slug}#%{commit}] %{result} on %{branch} by %{author} (%{build_url})"
