language: cpp

os: linux
dist: trusty
sudo: required

addons:
  apt:
    update: true
    packages:
      - checkinstall

env:
  - _options=""
  - _options="--enable-debug-logs"

compiler:
  - gcc
  - clang

install:
  - "mkdir -p m4"
  - "autoreconf -ifv"
  - "test \"${CXX#*clang}\" == \"${CXX}\" || _options+=\" --disable-werror\""
  - "./configure --enable-debug --disable-werror --disable-silent-rules ${_options}"
  - "make -j$(nproc)"

script:
  - "./check_includes.sh"
  - "make -j$(nproc) check"

notifications:
  irc:
    channels:
      - "ircs://chat.freenode.net:6697/#mcfproj"
    template:
      - "[ lh_mouse %{repository_slug}#%{commit}] %{result} on %{branch} by %{author} (%{build_url})"
  email: false
