Package: {_pkgname}
Version: {_pkgversion}
Architecture: {_pkgarch}
Multi-Arch: same
Priority: optional
Section: interpreters
Maintainer: LIU Hao <lh_mouse@126.com>
Provides: asteria, libasteria, libasteria-dev
Description: The Asteria Programming language
Homepage: https://github.com/lhmouse/asteria
