name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: configure
      run: autoreconf -ifv
      run: ./configure --enable-debug-checks
    - name: make
      run: make -j$(nproc)
    - name: make check
      run: make check -j$(nproc)
    - name: make distcheck
      run: make distcheck -j$(nproc)
