name: C/C++ CI

on:
  push:
    branches:
    - master
    - releases/*

  pull_request:
    branches:
    - master

jobs:
  ubuntu:
    name: Ubuntu native build (x86-64)
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: >-
           sudo apt-get install -y --no-install-recommends g++-7 python3
           pkgconf libedit-dev libpcre2-dev libssl-dev zlib1g-dev
           ninja-build python3-pip

    - name: Install newest meson
      run: >-
           sudo pip3 install meson  # --break-system-packages

    - name: Run tests
      run: >-
           CXX='g++-7' meson setup -Denable-debug-checks=true build_ci
           && meson test -Cbuild_ci

  msys2:
    name: MSYS2 native build (x86-64)
    runs-on: windows-2022

    defaults:
      run:
        shell: msys2 {0}

    steps:
    - uses: actions/checkout@v3

    - uses: msys2/setup-msys2@v2
      with:
        msystem: MSYS

    - name: Install dependencies
      run: >-
           pacman -S --noconfirm gcc meson pkgconf libedit-devel
           pcre2-devel openssl-devel zlib-devel libiconv-devel

    - name: Run tests
      run: >-
           meson setup -Denable-debug-checks=true build_ci
           && meson test -Cbuild_ci

  macos:
    name: macOS native build (x86-64)
    runs-on: macos-11

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: >-
           brew install gcc@7 meson pkg-config libedit pcre2 openssl@3
           zlib libiconv

    - name: Run tests
      run: >-
           CXX='g++-7' meson setup -Denable-debug-checks=true build_ci
           && meson test -Cbuild_ci
