name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - run: |
      autoreconf -ifv
      ./configure --enable-debug-checks
      make check -j$(nproc)
      ./check_includes.sh
