name: CI

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
    - master
    - releases/*

  pull_request:
    branches:
    - master

jobs:
  ubuntu:
    name: Ubuntu native build (x86-64)
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: >-
           sudo apt-get update &&
           sudo apt-get install -y --no-install-recommends g++-7 python3
           pkgconf libedit-dev libpcre2-dev libssl-dev zlib1g-dev uuid-dev
           ninja-build python3-pip

    - name: Install newest meson
      run: >-
           sudo pip3 install meson  # --break-system-packages

    - name: Run tests
      run: >-
           export CXX='g++-7';
           meson setup -Denable-debug-checks=true -Doptimization=1 build_ci
           && meson test -Cbuild_ci

  msys2:
    name: MSYS2 native build (x86-64)
    runs-on: windows-2022

    defaults:
      run:
        shell: msys2 {0}

    steps:
    - uses: actions/checkout@v4

    - uses: msys2/setup-msys2@v2
      with:
        msystem: MSYS

    - name: Install dependencies
      run: >-
           pacman -Sy --noconfirm gcc meson pkgconf libedit-devel
           pcre2-devel openssl-devel zlib-devel libiconv-devel
           libutil-linux-devel

    - name: Run tests
      run: >-
           meson setup -Denable-debug-checks=true -Doptimization=1 build_ci
           && meson test -Cbuild_ci

  macos:
    name: macOS native build (x86-64)
    runs-on: macos-14

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: >-
           brew install gcc@12 meson pkg-config libedit pcre2 openssl zlib
           libiconv

    - name: Run tests
      run: >-
           export CC='gcc-12' CXX='g++-12';
           meson setup -Denable-debug-checks=true -Doptimization=1 build_ci
           && meson test -Cbuild_ci
